h1{
    font-size: 70px;}


    #root {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
    }
    

.card{
    border:3px double blue;
    flex-basis: 22%;
    padding:10px;
    margin-bottom: 20px;
    background-color:gray;
    font-size: 20px;
    font-weight: 1000;
    box-shadow: 5px 5px 5px 5px black,
                -5px -5px 5px 5px black;
}

.card:hover{
    border: 3px solid red;
    box-shadow: 20px 20px 10px 10px black,
    -20px -20px 10px 5px black

}
.card:hide{
    display: none;
}
